@model ArvesoftVeriTanımlama

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3> Kişi Bilgilerini Güncelle</h3>

<form asp-action="İstanbulverigüncelle" asp-controller="İstanbul" method="post">

    <div class="form-group">
        <label>Adınız:</label>
        <input asp-for="@Model.Adı"/>
    </div>

    <div class="form-group">
        <label>Soyadınız:</label>
        <input asp-for="@Model.Soyadı"/>
    </div>

    <div class="form-group">
        <label>Kıdemi:</label>
        <input asp-for="@Model.Kıdemi"/>
    </div>

    <div class="form-group">
        <label>Görevi:</label>
        <input asp-for="@Model.Görevi"/>
    </div>
    <div class="form-group">
        <label>Yaşı:</label>
        <input asp-for="@Model.Yaşı"/>
    </div>

    <div>
        <button class="alert-info">Güncelle</button>
    </div>
</form>